[submodule "deps/tree-sitter-typescript"]
	path = deps/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "deps/carp"]
	path = deps/carp
	url = https://github.com/asdfish/carp
[submodule "deps/tree-sitter"]
	path = deps/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
